@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Playwrite+US+Trad+Guides&display=swap');

.MuiOutlinedInput-root {
    margin-bottom: 2em !important;
}

.MuiTypography-h3{
    margin-bottom: 1em !important;
    text-align: center;
    font-family: "Berkshire Swash", serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}

.MuiTypography-body1{
    margin-bottom: 1em !important;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../img/welcome-page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.password-show-icon{
    margin: 2em 0.5em !important;
}

.google-icon{
    margin-right: 0.5em !important;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.44);
    margin: 2em 0 3em 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.34);
}

.divider:not(:empty)::before {
    margin-right: .75em;
}

.divider:not(:empty)::after {
    margin-left: .75em;
}

.form-login{
    width: 35em;
    display: flex;
    flex-direction: column;
    background-color: #ccd6cc;
    padding: 3em;
    border-radius: 2em;
}

.link{
    color: #3a4943;
}

.link:active{
    color: white;
}

.link-container{
    text-align: right;
    margin-top: 2em;
}

.forgot-psw{
    color: #3a4943 !important;
    margin-bottom: 1em !important;
    text-decoration: underline !important;
}