@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Playwrite+US+Trad+Guides&display=swap');

h2 {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
    color: #3a4943;
    font-size: 2.5em;
    text-align: center;
    margin: 2em auto !important;
    background-color: #f1ecdb;
    padding: 0.5em;
}