.MuiOutlinedInput-root {
    margin-bottom: 2em !important;
}

.MuiButtonBase-root {
    margin-bottom: 2em !important;
}

.MuiTypography-h3{
    margin-bottom: 2em !important;
    text-align: center;
    font-weight: bold !important;
}

.MuiTypography-body1{
    margin-bottom: 1em !important;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.password-show-icon{
    margin: 2em 0.5em !important;
}

.google-icon{
    margin-right: 0.5em !important;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #888;
    margin: 2em 0 3em 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
}

.divider:not(:empty)::before {
    margin-right: .75em;
}

.divider:not(:empty)::after {
    margin-left: .75em;
}

.form{
    width: 35em;
    display: flex;
    flex-direction: column;
    background-color: beige;
    padding: 5em;
    border-radius: 3em;
}