.modal-style {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    background-color: #d0d5d0;
    border: 20px double #5f6e66;
    border-radius: 2rem;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.5);
    max-height: 80vh;
    overflow-y: auto;
    padding: 3em;

}