#password-reset-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:  #ccd6cc;
    padding: 32px;
    border-radius: 16px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 400px;
    justify-content: center;
}


.MuiTypography-h4{
    margin-bottom: 1em !important;
    text-align: center;
    font-family: "Berkshire Swash", serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
}


.MuiTypography-body1{
    margin-bottom: 1em !important;
    text-align: center;
}